.eWolfTitle {
	padding-left:10px;
	font-size:30px;
	font-weight:bold;
/* 	color:#af9c7c; */
	color:#555;
	width:95%;
}

.selectableBox {
	text-decoration:none;
	color:inherit;
	cursor:pointer;
}

.selectableBoxHovered:hover {
	text-shadow: 0 0 0.3em grey;
	text-decoration:underline;
}

.aLink {
	text-decoration:none;
	color:inherit;
	cursor:pointer;
}

.aLink:hover {
	color:blue;
	text-decoration:underline;
}

.errorArea {
	color:red;
	font-size:11px;
	padding-left: 10px;
	vertical-align:middle;
}

.idBox {
	font-size:10px;
	color:#444;
	font-style:italic;
	font-weight:normal !important;
	padding-left:5px;
	padding-top:0;
	padding-bottom:0;
	margin-top:0;
	margin-bottom:0;
	word-wrap:break-word;
	white-space:pre-line;
	display:inline-block;
}
