.eWolfTitle {
	padding-left:10px;
	font-size:30px;
	font-weight:bold;
/* 	color:#af9c7c; */
	color:#555;
	width:95%;
}

.selectableBox {
	text-decoration:none;
	color:inherit;
	cursor:pointer;
}

.selectableBox:hover {
	text-shadow: 0 0 0.3em grey;
	text-decoration:underline;
}

.aLink {
	text-decoration:none;
	color:inherit;
	cursor:pointer;
}

.aLink:hover {
	color:blue;
	text-decoration:underline;
}

.errorArea {
	color:red;
	font-size:11px;
	padding-left: 10px;
	vertical-align:middle;
}
