.postBox {
	font-family:Georgia, Times, serif;
	padding-left:15px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:5px;
	font-size:16px;
	color:black;
	background:rgba(254, 255, 155, 0.65); R, G, B, A
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
}

.postList {
	list-style:none;
	/*width:400px; */
	font-family:Georgia, Times, serif;
	font-size:22px;
}

.postListItem {
	display:block;
	text-decoration:none;
	color:#000000;
	line-height:30px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#CCCCCC;
	padding-left:10px;
}

.senderBox {
/* 	display:block; */
	text-decoration:none;
	color:#000000;
	padding-left:10px;
	cursor:pointer;
}

.senderBox:hover {
	color:blue;
	text-decoration:underline;
}