.TagClass {
	background-color:#999;
	color:white;
	border:1px solid #222;
	border-radius:5px;
	padding-right:5px;
	padding-left:5px;
	margin-right:5px;
	margin-top:5px;
	margin-bottom:5px;
	width:auto !important;	
	position:relative;
}

.ui-progressbar {
	position:absolute;
	top:0;
	left:0;
	background-color:#999!important;
	border-style: none!important; 
	border-radius: 5px;
	z-index:1;
}

.TagNoMultiRow {
	display:inline-block;
}

.TagErrorClass {
	background-color:#F99 !important;
	color:black !important;
}

.TagOKClass {
	background-color:#9F9 !important;
	color:black !important;
}

.TagNonRemoveable > .TagDeleteClass {
	display:none;
}

.TagDeleteClass {
	text-decoration:none;
	color:black;
	cursor:pointer;
	border:1px solid #222;
	border-width: 0px 1px 0px 0px;
	padding-right:5px;
	margin-right:5px;
	display:inline-block;
	opacity:0.5;
}

.TagDeleteClass:hover {
	opacity:1;
}

.seachListClass {
	margin-top:5px;
	margin-bottom:5px;
}