/**************************** Top Bar Style *********************/
.topbar {
	background-color:/*black*/ whitesmoke;
	opacity: 0.70;
	height:45px;
	min-width:750px;
	padding:0px 0px 0px 0px;
	overflow: hidden;
	
	z-index:10000;
}

.shadow-top {
	-webkit-box-shadow:0 2px 3px rgba(0,0,0,.25);
	-moz-box-shadow:0 2px 3px rgba(0,0,0,.25);
	box-shadow:0 2px 3px rgba(0,0,0,.25);
}

.topbar-fixed {
	position:fixed;
	top:0;right:0;left:0;z-index:1000;
}

.topbar-absolute {
	position:absolute;
	top:0;left:0;
	width:750px;
}

.menuItemMessageClass {
	background-color:white;
	opacity: 0.8;
	border-radius:13px;
	padding:1px 12px 1px 12px;	
	font-size:12px;
	color:black;
	vertical-align:middle;
	position:fixed;
	top:25px;right:5px;	
	float:left;
}

.eWolf-title {
	float:left;
	width:200px;
	font-size:40px;
	font-weight:bold;
	color:#af9c7c;
}

.title-bar {
	height:45px;
	float:left;
	padding:7px 0 8px 0;
}
